<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>

<nav th:fragment="LoggedOutNavbar">
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#reviews">Reviews</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#barberList">Barbers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#shopDescription">The Shop</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#shopInfo">Info</a>
    </li>
</ul>
</nav>

</body>
</html>