#photoCarousel{
    height: 75vh;
    z-index: -1;
}

.body{
    background: black;
    font-family: Serif;
}

#shopInfo{
    color: rgb(243,187,34);
}

.shopBG{
    width: 100%;
    height: auto;
}

.nav{
    position: fixed;
    z-index:1;
}

.barberCard{
    border: 1px solid rgb(243,187,34);
    color: rgb(243,187,34);
    background-color: black;
}

.appointmentBtn{
    color: rgb(243,187,34);
    border-color: rgb(243,187,34);
}

