#photoCarousel{
    height: 75vh;
    z-index: -1;
}

.body{
    background-color: black;
    font-family: Serif;
}

#shopInfo{
    color: white;
}

.shopBG{
    width: 100%;
    height: auto;
}

.nav{
    position: fixed;
    z-index:1;
}

.barberCard{
    color: white;
    background-color: black;
}

.barberList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-size: cover;
    background-position: center;
}


.appointmentBtn{
    color: white;
    border-color: white;
}

.appointmentBtn:hover{
    color: black;
    background-color: white;
}

.appointmentBtn:active{
    color: white;
    background-color: black;
}

.navbar{
    padding: 1em;
}

.infoContainer{
    display: flex;
    justify-content: center;
}

.signupBody{
    background-image:url("../images/NextLevelRoom.jpeg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupCard{
    color: white;
    font-family: Serif, serif;
    background: transparent;
}

.loginBody{
    background-image:url("../images/NextLevelRoom.jpeg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCardParent{
    background: transparent;
    border-color: white;
}

.loginCardParent:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: -1;
}

.loginCard{
    color: white;
    font-family: Serif, serif;
    background: transparent;
}

.drinkPhotoContainer{
    background-image: url("../images/NextLevelDrink.jpeg");
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

}


.drinkCardContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.drinkTextContainer{
    background: transparent;
    border-color: transparent;
}

.drinkTextContainer:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}

.drinkTextCard{
    color: white;
    font-family: Serif, serif;
    background: transparent;
    z-index: 1;
}

.drinkTextCard h3{
    text-align: center;
}

.shopBG{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.formsBody{
    width: 100%;
    height: 100%;
    background-image: url("../images/NextLevelRoom.jpeg");
}

.loginButton{
    background-color: white;
    color: black;
    border-color: black;
}

.loginButton:hover{
    background-color: gold;
    color: black;
    border-color: black;
}

.loginButton:active{
    background-color: white;
    color: black;
}

.nav-link{
    color:rgb(243,187,34);
}

.nav-link:hover{
    color:white;
}

.logoutBtn{
    color:rgb(243,187,34);
    position: relative;
    top: .4em;
}

.logoutBtn:hover{
    color: white;
    text-underline: none;
}

.navbar-brand{
    color:rgb(243,187,34);
}

.navbar-brand:hover{
    color: rgb(243,187,34);
}

.btn-link{
    padding: 0;
}

.navbar-expand-lg .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28243, 187, 34, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-expand-lg .navbar-toggler{
    border: 1px solid rgb(243,187,34);
}

.drinkList{
    list-style: square;
}

.shopDescription{
    background-color: black;
    color: whitesmoke;
}

.reviewHeader{
    background-color: black;
    color: whitesmoke;
}

.reviewBody{
    background-color: black;
    color: whitesmoke;
}

.shopMessageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageCard{
    border-color: rgb(243,187,34);
    background-color: black;
    color: whitesmoke;
    width: 50%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}