<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="formsBody">

<div class="accordion col-6 mx-auto formsSelection" id="accordionExample" >
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Add New Barber
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form th:action="@{/Controls}" method="post" th:object="${barber}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}" aria-describedby="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
                    </div>
                    <div class="mb-3">
                        <label for="link" class="form-label">Booking Link</label>
                        <input type="text" class="form-control" id="link" th:field="*{link}" aria-describedby="linkHelp">
                        <div id="linkHelp" class="form-text">Enter link without "http://"</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}">
                    </div>
                    <div class="mb-3">
                        <label for="bio" class="form-label">Bio</label>
                        <input type="text" class="form-control" id="bio" th:field="*{bio}">
                    </div>

                    <label for="file"></label>
                    <input name="file" type="file" />

                    <button type="submit" class="btn btn-primary m-2">Submit</button>
                    <div id="submitWarning" class="form-text">Allow Time for Database to update</div>

                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                Edit Barber info
            </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form th:action="@{/Controls/EditBarber}" method="post" th:object="${barber}">
                    <div id="linkHelp" class="form-text">For any fields not being changed, enter values from list below</div>
                    <div class="mb-3">
                        <label for="barberId" class="form-label">Id number of Barber to edit</label>
                        <input type="number" min="1" class="form-control" id="barberId" name="barberId" aria-describedby="barberId">
                    </div>
                    <div class="mb-3">
                        <label for="barberName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="barberName" th:field="*{firstName}" th:value="${$firstName}" aria-describedby="reviewBody">
                    </div>
                    <div class="mb-3">
                        <label for="barberBio" class="form-label">Barber Bio</label>
                        <input type="text" class="form-control" id="barberBio" th:field="*{bio}" th:value="${bio}" aria-describedby="reviewBody">
                    </div>
                    <div class="mb-3">
                        <label for="barberLink" class="form-label">Barber Link</label>
                        <input type="text" class="form-control" id="barberLink" th:field="*{link}" th:value="${link}" aria-describedby="reviewBody">
                        <div id="linkHelp" class="form-text">Enter link without "http://"</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Delete Barber
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body" th:each="barbers : ${barbers}">
                <div class="card-body">
                    <p>Name: <span th:text="${barbers.firstName}"></span>, <span th:text="${barbers.lastName}"></span> </p>
                </div>
                <form class="deleteForm" th:method="post" th:action="@{/Controls/Delete}">
                    <input type="hidden" th:value="${barbers.id}" name="deleteBarber">
                    <button class="btn btn-primary px-3 mx-auto border-0">
                        Delete Barber
                    </button>
                </form>
            </div>
        </div>
    </div>
<!--    <div class="accordion-item">-->
<!--        <h2 class="accordion-header" id="headingThree">-->
<!--            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
<!--                Add New Drink-->
<!--            </button>-->
<!--        </h2>-->
<!--        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">-->
<!--            <div class="accordion-body">-->
<!--                <form th:action="@{/Controls/NewDrink}" method="post" th:object="${drink}">-->
<!--                    <div class="mb-3">-->
<!--                        <label for="newDrink" class="form-label">New Drink</label>-->
<!--                        <input type="text" class="form-control" id="newDrink" th:field="*{drinkName}" aria-describedby="drinkName">-->
<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-primary">Submit</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="accordion-item">-->
<!--        <h2 class="accordion-header" id="headingFour">-->
<!--            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">-->
<!--                Delete Drink-->
<!--            </button>-->
<!--        </h2>-->
<!--        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">-->
<!--            <div class="accordion-body" th:each="drinks : ${drinks}">-->
<!--                <div class="card-body">-->
<!--                    <p>Drink: <span th:text="${drinks.drinkName}"></span> </p>-->
<!--                </div>-->
<!--                <form class="deleteForm" th:method="post" th:action="@{/Controls/DeleteDrink}">-->
<!--                    <input type="hidden" th:value="${drinks.id}" name="deleteDrink">-->
<!--                    <button class="btn btn-primary px-3 mx-auto border-0">-->
<!--                        Delete Drink-->
<!--                    </button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Edit Shop Info
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body" th:data-id="${shop.id}">
                <form th:action="@{/Controls/{id}/ (id=1)}" method="post" th:object="${shop}">
                    <div class="mb-3">
                        <label for="shopHeader" class="form-label">Shop Header</label>
                        <input type="text" class="form-control" id="shopHeader" th:field="*{shopHeading}" th:value="${shopHeading}" aria-describedby="shopHeader">
                    </div>
                    <div class="mb-3">
                        <label for="shopDescription" class="form-label">Shop Description</label>
                        <input type="text" class="form-control" id="shopDescription" th:field="*{shopDescription}" th:value="${shopDescription}" aria-describedby="shopHeader">
                    </div>
                    <div class="mb-3">
                        <label for="shopMessageHeader" class="form-label">Shop Message Title</label>
                        <input type="text" class="form-control" id="shopMessageHeader" th:field="*{shopMessageHeader}" th:value="${shopMessageHeader}" aria-describedby="shopMessageHeader">
                    </div>
                    <div class="mb-3">
                        <label for="shopMessageDescription" class="form-label">Shop Message Description</label>
                        <input type="text" class="form-control" id="shopMessageDescription" th:field="*{shopMessageDescription}" th:value="${shopMessageDescription}" aria-describedby="shopMessageDescription">
                    </div>
                    <div class="mb-3">
                        <label for="shopAppointmentsDescription" class="form-label"> Shop Appointment description</label>
                        <input type="text" class="form-control" id="shopAppointmentsDescription" th:field="*{shopAppointmentsDescription}" th:value="${shopAppointmentsDescription}">
                    </div>
                    <div class="mb-3">
                        <label for="shopNumber" class="form-label">Shop Telephone Number</label>
                        <input type="text" class="form-control" id="shopNumber" th:field="*{shopTeleNum}" th:value="${shopTeleNum}" aria-describedby="shopNumber">
                    </div>
                    <div class="mb-3">
                        <label for="shopAddress" class="form-label">Shop Address Number</label>
                        <input type="text" class="form-control" id="shopAddress" th:field="*{shopAddress}" th:value="${shopAddress}" aria-describedby="shopAddress">
                    </div>
                    <div class="mb-3">
                        <label for="instagramLink" class="form-label">Instagram Link</label>
                        <input type="text" class="form-control" id="instagramLink" th:field="*{instagramLink}" th:value="${instagramLink}" aria-describedby="instagramLink">
                        <div class="form-text">Enter link without "http://"</div>
                    </div>
                    <div class="mb-3">
                        <label for="facebookLink" class="form-label">Facebook Link</label>
                        <input type="text" class="form-control" id="facebookLink" th:field="*{facebookLink}" th:value="${facebookLink}" aria-describedby="facebookLink">
                        <div class="form-text">Enter link without "http://"</div>
                    </div>
                    <div class="mb-3">
                        <label for="monOpen" class="form-label">Monday Open Time</label>
                        <input type="text" class="form-control" id="monOpen" th:field="*{monOpen}" th:value="${monOpen}" aria-describedby="monOpen">
                    </div>
                    <div class="mb-3">
                        <label for="monClose" class="form-label">Monday Close Time</label>
                        <input type="text" class="form-control" id="monClose" th:field="*{monClose}" th:value="${monClose}" aria-describedby="monClose">
                    </div>
                    <div class="mb-3">
                        <label for="tueOpen" class="form-label">Tuesday Open Time</label>
                        <input type="text" class="form-control" id="tueOpen" th:field="*{tueOpen}" th:value="${tueOpen}" aria-describedby="tueOpen">
                    </div>
                    <div class="mb-3">
                        <label for="tueClose" class="form-label">Tuesday Close Time</label>
                        <input type="text" class="form-control" id="tueClose" th:field="*{tueClose}" th:value="${tueClose}" aria-describedby="tueClose">
                    </div>
                    <div class="mb-3">
                        <label for="wedOpen" class="form-label">Wednesday Open Time</label>
                        <input type="text" class="form-control" id="wedOpen" th:field="*{wedOpen}" th:value="${wedOpen}" aria-describedby="wedOpen">
                    </div>
                    <div class="mb-3">
                        <label for="wedClose" class="form-label">Wednesday Close Time</label>
                        <input type="text" class="form-control" id="wedClose" th:field="*{wedClose}" th:value="${wedClose}" aria-describedby="wedClose">
                    </div>
                    <div class="mb-3">
                        <label for="thuOpen" class="form-label">Thursday Open Time</label>
                        <input type="text" class="form-control" id="thuOpen" th:field="*{thuOpen}" th:value="${thuOpen}" aria-describedby="thuOpen">
                    </div>
                    <div class="mb-3">
                        <label for="thuClose" class="form-label">Thursday Close Time</label>
                        <input type="text" class="form-control" id="thuClose" th:field="*{thuClose}" th:value="${thuClose}" aria-describedby="thuClose">
                    </div>
                    <div class="mb-3">
                        <label for="friOpen" class="form-label">Friday Open Time</label>
                        <input type="text" class="form-control" id="friOpen" th:field="*{friOpen}" th:value="${friOpen}" aria-describedby="friOpen">
                    </div>
                    <div class="mb-3">
                        <label for="friClose" class="form-label">Friday Close Time</label>
                        <input type="text" class="form-control" id="friClose" th:field="*{friClose}" th:value="${friClose}" aria-describedby="friClose">
                    </div>
                    <div class="mb-3">
                        <label for="satOpen" class="form-label">Saturday Open Time</label>
                        <input type="text" class="form-control" id="satOpen" th:field="*{satOpen}" th:value="${satOpen}" aria-describedby="satOpen">
                    </div>
                    <div class="mb-3">
                        <label for="satClose" class="form-label">Saturday Close Time</label>
                        <input type="text" class="form-control" id="satClose" th:field="*{satClose}" th:value="${satClose}" aria-describedby="satClose">
                    </div>
                    <div class="mb-3">
                        <label for="sunOpen" class="form-label">Sunday Open Time</label>
                        <input type="text" class="form-control" id="sunOpen" th:field="*{sunOpen}" th:value="${sunOpen}" aria-describedby="sunOpen">
                    </div>
                    <div class="mb-3">
                        <label for="sunClose" class="form-label">Sunday Close Time</label>
                        <input type="text" class="form-control" id="sunClose" th:field="*{sunClose}" th:value="${sunClose}" aria-describedby="sunClose">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Replace Barber photo
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form th:action="@{/fileupload}" method="POST" enctype="multipart/form-data">
                    <label for="file">Photo will replace photo shown for barber chosen</label>
                    <input id="file" name="file" type="file" />
                    <br />
                    <label for="barber">Select a barber by id </label>
                    <input id="barber" name="barber" type="number" min="1">
                    <input type="submit" value="upload" class="m-2"/>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Upload Shop image
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form th:action="@{/shopImageUpload}" method="POST" enctype="multipart/form-data">
                    <label for="file">Chosen photo will replace photo at top of homepage</label>
                    <input name="file" type="file" />
                    <br />
                    <input type="submit" value="upload" class="m-2"/>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Upload Drink image
            </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form th:action="@{/shopDrinkUpload}" method="POST" enctype="multipart/form-data">
                    <label for="file">Photo will replace drink photo under shop description</label>
                    <input name="file" type="file" />
                    <br />
                    <input type="submit" value="upload" class="m-2"/>
                </form>
            </div>
        </div>
    </div>
<!--    <div class="accordion-item">-->
<!--        <h2 class="accordion-header" id="headingNine">-->
<!--            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">-->
<!--                Upload Shop Description image-->
<!--            </button>-->
<!--        </h2>-->
<!--        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">-->
<!--            <div class="accordion-body">-->
<!--                <form th:action="@{/shopDescriptionImageUpload}" method="POST" enctype="multipart/form-data">-->
<!--                    <label for="file">Upload Shop Description Photo</label>-->
<!--                    <input name="file" type="file" />-->
<!--                    <br />-->
<!--                    <input type="submit" value="upload"/>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                Add New Review
            </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form th:action="@{/Controls/addReview}" method="post" th:object="${review}">
                    <div class="mb-3">
                        <label for="reviewTitle" class="form-label">Review Title</label>
                        <input type="text" class="form-control" id="reviewTitle" th:field="*{reviewTitle}" aria-describedby="reviewTitle">
                    </div>
                    <div class="mb-3">
                        <label for="reviewBody" class="form-label">Review Body</label>
                        <input type="text" class="form-control" id="reviewBody" th:field="*{reviewBody}" aria-describedby="reviewBody">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwelve">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                Delete Review
            </button>
        </h2>
        <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
            <div class="accordion-body" th:each="reviews : ${reviews}">
                <div class="card-body">
                    <p>Title: <span th:text="${reviews.reviewTitle}"></span>, Body: <span th:text="${reviews.reviewBody}"></span> </p>
                </div>
                <form class="deleteForm" th:method="post" th:action="@{/Controls/DeleteReview}">
                    <input type="hidden" th:value="${reviews.id}" name="deleteReview">
                    <button class="btn btn-primary px-3 mx-auto border-0">
                        Delete Review
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThirteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                Delete User
            </button>
        </h2>
        <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
            <div class="accordion-body" th:each="users : ${users}">
                <div class="card-body">
                    <p>User: <span th:text="${users.lastName}"></span>, <span th:text="${users.firstName}"></span> Username: <span th:text="${users.username}"></span> </p>
                </div>
                <form class="deleteForm" th:method="post" th:action="@{/Controls/DeleteUser}">
                    <input type="hidden" th:value="${users.id}" name="deleteUser">
                    <button class="btn btn-primary px-3 mx-auto border-0">
                        Delete User
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFourteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                Upload Portfolio Image
            </button>
        </h2>
        <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form th:action="@{/addShopPortfolioPhoto}" method="POST" enctype="multipart/form-data">
                    <label for="file">Choose Photo to add to portfolio slideshow</label>
                    <input name="file" type="file" />
                    <br />
                    <input type="submit" value="upload" class="m-2"/>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFifteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                Delete Portfolio Photo
            </button>
        </h2>
        <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen" data-bs-parent="#accordionExample">
            <div class="accordion-body" th:each="photo : ${photo}">
                <div class="card-body">
                    <p>Name: <span th:text="${photo.photoName}"></span> </p>
                </div>
                <form class="deleteForm" th:method="post" th:action="@{/deleteShopPortfolioPhoto}">
                    <input type="hidden" th:value="${photo.id}" name="deletePhoto">
                    <button class="btn btn-primary px-3 mx-auto border-0">
                        Delete Photo
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <h3 class="d-flex justify-content-center mt-3" style="color: whitesmoke; text-decoration: underline">Barbers:</h3>
    <br>
    <ul th:each="barbers : ${barbers}">
        <li>
            <div class="card">
                <div class="card-body">
                    <h3>Name:</h3> <span th:text="${barbers.firstName}"></span> <span th:text="${barbers.lastName}"></span><br>
                    <h4>Id #:</h4> <span th:text="${barbers.id}"></span> <br>
                    <h4>Bio:</h4> <span th:text="${barbers.bio}"></span> <br>
                    <h4>Booking Link:</h4> <span th:text="${barbers.link}"></span>
                </div>
            </div>
        </li>
    </ul>

    <h3 class="d-flex justify-content-center" style="color: whitesmoke; text-decoration: underline">Users:</h3>
    <ul th:each="users : ${users}">
        <li>
            <div class="card">
                <div class="card-body">
                    <p>UserName: <span th:text="${users.username}"></span>,Role: <span th:text="${users.roles}"></span> </p>
                </div>
            </div>
        </li>
    </ul>
</div>

</body>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</html>