<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Next Level Barbershop</title>
    <link rel="icon" type="image/x-icon" href="/images/NextLevelLogo.jpeg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://kit.fontawesome.com/448c6462fd.js" crossorigin="anonymous"></script>
</head>
<body class="body">
<!--NAVBAR-->
    <nav th:replace="partials/navbar.html :: LoggedOutNavbar" style="opacity: 0.5" class="nav justify-content-center"></nav>

    <header class="shopImages " th:object="${shops}">
        <img th:src="${shops.shopPhotoUrl}" class="img-fluid shopBG">
    </header>

        <blockquote class="shopMessageContainer" th:object="${shops}">
            <div th:if="${shops.shopMessageHeader != ''}" class="card messageCard">
                <div class="card-header messageCardHeader">
                    <h3 th:text="${shops.shopMessageHeader}">Message Header</h3>
                    <hr style="color: rgb(243,187,34)">
                </div>
                <div class="card-body">
                    <h5 class="card-text" th:text="${shops.shopMessageDescription}">Message Description</h5>
                </div>
            </div>
        </blockquote>

    <section class="px-4 mt-2 pt-2 barberList" id="barberList" >

        <div th:each="barber : ${barbers}">
            <div class="card m-2 border-dark barberParentCard col-8" style="width: 50rem;">
                <img th:src="${barber.photoUrl}" class="w-100">
                <div class="card-body barberCard">
                    <h5 th:text="${barber.firstName}"></h5>
                    <p th:text="${barber.bio}"></p>
                    <a th:href="${'https://' + barber.link}" class="btn appointmentBtn">Book an appointment</a>
                </div>
            </div>
        </div>

    </section>

<!--Section For Shop Portfolio Carousel-->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" >
<!--                hardcode first picture-->
                <img src="../images/NextLevel.jpeg" class="d-block w-100" alt="...">
            </div>
<!--            remaining pictures will be a th:each"" to loop through photos-->
            <div th:each="photo : ${photos}" th:if="${photo.shopPortfolioImageUrl != null}">
                <div th:unless="${photo.photoName == 'IMG_4079.jpg'}">
                    <div class="carousel-item" >
                        <img th:src="${photo.shopPortfolioImageUrl}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="shopDescription">


        <div class="card text-center shopDescription" style="width: auto;" th:each="shop : ${shops}">
            <div class="card-body">
                <h2 class="card-title text-center" style="color:rgb(243,187,34); text-decoration: underline; font-size: 2em" th:text="${shop.shopHeading}"></h2>
                <h5 class="card-text px-3 mx-5" style="font-size: 2em" th:text="${shop.shopDescription}"></h5>
            </div>
        </div>


        <section class="drinkPhotoContainer"></section>

    </section>

        <div class="servicesContainer text-center m-2">
            <div class="card-body">
                <div th:object="${shops}">
                    <h2 class="text-center card-title" style="color: rgb(243,187,34); text-decoration: underline; font-size: 2em" >Appointments and Walk ins</h2>
                    <h5 class="card-text px-3 mx-5" style="color: whitesmoke; font-size: 2em" th:text="${shops.shopAppointmentsDescription}"></h5>
                </div>
            </div>
        </div>


    <h4 class="pt-2 mt-2 text-center" style="color: rgb(243,187,34);
text-decoration: underline; font-size: 2em">Reviews</h4>
    <div class="reviewsCarousel p-3 d-flex min justify-content-center" id="reviews">

        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" th:each="review : ${reviews}">
                    <!--Creates card in carousel for every review-->
                    <div class="card" style="background-color: black">
                        <div class="card-header reviewHeader" th:text="${review.reviewTitle}">

                        </div>
                        <div class="card-body pt-0">
                            <blockquote class="blockquote mb-0 reviewBody">
                                <p th:text="${review.reviewBody}"></p>
                            </blockquote>
                        </div>
                    </div>

                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon visually-hidden"  aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <section class="servicesList text-center m-2">
        <div class="row">
            <div>
                <h3 class="service-header">Services Offered</h3>
                <ul class="services-list" th:each="service : ${services}">
                    <li th:text="${service.serviceName}"></li>
                </ul>
            </div>
        </div>
    </section>


    <div class="infoContainer  text-center m-2" id="shopInfo">
        <div class="row">
            <div class="hoursContainer">
                <h3 style="color: rgb(243,187,34)">Shop Hours</h3>
                <div th:object="${shops}">
                    <h4>Monday: <span th:text="${shops.monOpen}"></span> - <span th:text="${shops.monClose}"></span> </h4>
                </div>
                <div th:object="${shops}">
                    <h4>Tuesday: <span th:text="${shops.tueOpen}"></span> - <span th:text="${shops.tueClose}"></span> </h4>
                </div>
                <div th:object="${shops}">
                    <h4>Wednesday: <span th:text="${shops.wedOpen}"></span> - <span th:text="${shops.wedClose}"></span> </h4>
                </div>
                <div th:object="${shops}">
                    <h4>Thursday: <span th:text="${shops.thuOpen}"></span> - <span th:text="${shops.thuClose}"></span> </h4>
                </div>
                <div th:object="${shops}">
                    <h4>Friday: <span th:text="${shops.friOpen}"></span> - <span th:text="${shops.friClose}"></span> </h4>
                </div>
                <div th:object="${shops}">
                    <h4>Saturday: <span th:text="${shops.satOpen}"></span> - <span th:text="${shops.satClose}"></span> </h4>
                </div>
                <div th:object="${shops}">
                    <h4>Sunday: <span th:text="${shops.sunOpen}"></span> - <span th:text="${shops.sunClose}"></span> </h4>
                </div>
            </div>

            <hr style="color: rgb(243,187,34)">

            <div th:object="${shops}" class="shopSocials">
                <h3 style="color: rgb(243,187,34)">Contact info</h3>
                <p th:text="${shops.shopTeleNum}"></p>
                <p th:text="${shops.shopAddress}"></p>
                <div style="font-size: 2rem;">
                <a title="Instagram" th:href="${'https://' + shops.instagramLink}" class="p-1 m-2" style="color: black">
                    <i class="fa-brands fa-square-instagram " style="color: rgb(243,187,34)"></i>
                </a>
                <a title="Facebook" th:href="${'https://' + shops.facebookLink}" role="button" class="p-1 m-2">
                <i class="fa-brands fa-square-facebook " style="color: rgb(243,187,34)"></i>
                </a>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script>

</script>
</html>